<section class="tenc-dice-tray" style="margin-bottom:5px;">
    <div class="flexrow" style="margin-bottom:5px;" >
    {{#if isGM}}
        <button id="gm-dice-roll" class="flex2">GM Roll</button>
    {{else}}
        <button id="player-dice-roll" class="flex2">Player Roll</button>
    {{/if}}
    
        <button id="hope-dice-roll" class="flex-sm" >Roll Hope</button>
    </div>
        <button id="ones-dice-roll" >Reroll 1s</button>

</section>