<section class="tenc-dice-tray flexrow">
    {{#if isGM}}
        <button id="gm-dice-roll" class="flex2">GM Roll</button>
    {{else}}
        <button id="player-dice-roll" class="flex2">Player Roll</button>
    {{/if}}
    
        <button id="hope-dice-roll" class="flex-sm" >Roll Hope</button>
    
</section>